/* ----------------------  Metrics  Component Css Start Here----------------------------- */

.metric_button {
  padding: 20px;
}

.top-left img {
  width: 80px !important;
  height: auto !important;
  margin-bottom: -10% !important;
  margin-left: 15% !important;
  
}

.topbar-table.table > thead > tr > th,
.topbar-table.table > tbody > tr > th,
.topbar-table.table > tfoot > tr > th,
.topbar-table.table > thead > tr > td,
.topbar-table.table > tbody > tr > td,
.topbar-table.table > tfoot > tr > td {
  border: none !important;
}

.topbar-table.table > tbody > tr:first-child > td:not(:first-child) {
  padding-left: 185px;
  white-space: nowrap;
}

.modal.data-extraction {
  left: 490px !important;
  /* top: 230px !important; */

}


@media screen and (min-width: 320px) and (max-width: 768px) {

  .metric_button {
    padding: 10px !important;
  }

  .metric_button:first-child {
    margin-left: 130% !important;
  }

  

  .top-left img {
    width: 60px !important;
    height: auto !important;
    margin-bottom: -44% !important;
    
  }

  .modal.data-extraction {
    left: 0px !important;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .metric_button {
    padding: 6px !important;
  }

  .metric_button:first-child {
    margin-left: -25% !important;
  }

  .top-left img {
    width: 60px !important;
    height: auto !important;
    margin-bottom: -10% !important;
    
  }

  .modal.data-extraction {
    left: 0px !important;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1440px) {

  .metric_button {
    font-size: 10px !important;
    padding: 7px !important;
  }
  .metric_button:first-child {
    margin-left: -7% !important;
  }
  

  .top-left img {
    width: 70px !important;
    height: auto !important;
    margin-bottom: -8px !important;
  }

  .topbar-table.table > tbody > tr > td {
    
    font-size: 10px !important;
  }

  .topbar-table.table > tbody > tr:first-child > td {
    padding-left: 1px !important;
  }

  .topbar-table.table > tbody > tr:nth-child(2) > td {
    padding-left: 1px !important;
  }

  
  @media screen and (min-width: 992px) and (max-width: 1024px) {

    .topbar-table table {
  
      margin-left: 1% !important;
      font-size: 12px;
      padding: 100px !important;
    }
  
  }

}


@media screen and (min-width: 1200px) and (max-width: 1800px) {

  .metric_button {
    padding: 10px !important;
  }  
}
/* ----------------------  Metrics Component Css Start Here----------------------------- */


/* ----------------------  Metrics Defination Component Css Start Here----------------------------- */

@media screen and (min-width: 320px) and (max-width: 768px) {
  
  h2 {
    
    font-size: 14px !important;
  }

  h3 {
    
    font-size: 12px !important;
  }

  img {

    width: 60%;
    height: auto !important;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Styles for screens with a width of 1024 pixels or more */
   h2 {
    
    font-size: 14px !important;
  }

  h3 {
    
    font-size: 12px !important;
  }

  img {

    width: 60%;
    height: auto !important;
  }
}


/* ----------------------  Metrics Definationy Component Css End Here----------------------------- */


/* ----------------------  Suit Connect Component Css Start Here----------------------------- */

.suit-connect {
  text-align: center;
  padding: 45px 0 30px;
  border: 3px solid #4472c4;
  border-radius: 35px;
  margin: 15px 0;
  max-height: 100vh;
}

.suit-bridge img:first-child {

  width: 25%;
  height: auto;
}

.suit-bridge img:nth-child(2) {

  width: 100%;
  height: auto;
}

.suit-connection h4 {
  margin-bottom: 67px; /* Adjust the percentage as needed */
}

.suit-white-box img {
  width: 25%;
  height: auto;
  margin-bottom: 105px;
}

.suit-white-box h4 {
  margin-bottom: 106px;
}
.suit-charge img {
  width: 28%;
  height: auto;
  margin-bottom: 105px;
}

.suit-charge h4 {
  margin-bottom: 101px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  
  
  
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  
  .suit-connection h4 {
    margin-bottom: 12px; /* Adjust the percentage as needed */
  }
  
  .suit-white-box img {
    width: 25%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .suit-white-box h4 {
    margin-bottom: 35px;
  }
  .suit-charge img {
    width: 28%;
    height: auto;
    margin-bottom: 30px;
  }
  
  .suit-charge h4 {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
  
  .suit-connection h4 {
    margin-bottom: 38px; /* Adjust the percentage as needed */
  }
  
  .suit-white-box img {
    width: 25%;
    height: auto;
    margin-bottom: 70px;
  }
  
  .suit-white-box h4 {
    margin-bottom: 67px;
  }
  .suit-charge img {
    width: 28%;
    height: auto;
    margin-bottom: 70px;
  }
  
  .suit-charge h4 {
    margin-bottom: 65px;
  }
}

/* ----------------------  Suit Connect Component Css End Here----------------------------- */





/* ----------------------  Session Summary Component Css Start Here----------------------------- */

.first-session {
  text-align: center;
  padding: 45px 0 30px;
  border: 3px solid #4472c4;
  margin: 15px 0;
  min-height: 168px;
  background-color:#14181b
}
.session_button {
  background: #10202b !important;
  padding:25px 120px !important;
  border: 1px solid #4472c4 !important;
  border-radius: 10px !important;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* Styles for screens with a width of 1024 pixels or more */
  .session_button {
    background: #10202b !important;
    padding: 11px 77px !important;
    border: 1px solid #4472c4 !important;
    border-radius: 10px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Styles for screens with a width of 1024 pixels or more */
  .session_button {
    background: #10202b !important;
    padding: 11px 77px !important;
    border: 1px solid #4472c4 !important;
    border-radius: 10px !important;
  }
}

/* ----------------------  Session Summary Component Css End Here----------------------------- */

/* ----------------------  Downloads Component Css Star Here----------------------------- */

.downloads {
 background-color: #fff; 
 text-align: 'center'; 
 margin-right: 10px;
 margin-left: 10px;
 margin-bottom: 10px;
}

.downloads .agree {
  padding:16px 125px;
   margin:7px 0; 
   border:1px solid #000; 
   border-radius: 10px;
   white-space: nowrap;
}

.downloads .upgrade {
  padding:16px 115px;
   margin:7px 0; 
   border:1px solid #000; 
   border-radius: 10px;
   white-space: nowrap;
   color:#7abf6b;
}



@media screen and (min-width: 768px) and (max-width: 1200px) {
  

  .downloads {
    background-color: #fff; 
    text-align: 'center'; 
    margin-right: 10px;
    position: absolute;
    padding-right: 40px !important;
    margin-left: 40px;
    margin-bottom: 20px;
   }
  .downloads .agree {
    padding:16px 0;
    position: absolute;
    left: 1px;
     margin:7px 0; 
     border:1px solid #000; 
     margin-right: 10px;
     border-radius: 10px;
     white-space: nowrap;
  }
  
  .downloads .upgrade {
    padding:15px 0;
     margin:7px 0; 
     position: absolute;
     left: 1px;
     border:1px solid #000; 
     border-radius: 10px;
     white-space: nowrap;
     color:#7abf6b;
  }
  
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
  
  .downloads .agree {
    padding:16px 50px;
     margin:7px 0; 
     border:1px solid #000; 
     border-radius: 10px;
     white-space: nowrap;
  }
  
  .downloads .upgrade {
    padding:16px 40px;
     margin:7px 0; 
     border:1px solid #000; 
     border-radius: 10px;
     white-space: nowrap;
     color:#7abf6b;
  }
  
}





/* ----------------------  Download Component Css End Here----------------------------- */

/* Front end Css Starts Here  */

.navbar-nav ul:last-child li a {
  color: #6a6d6f !important;
  font-size: 16px !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Alternox';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

/* Style for each button in the navigation bar */
li {
  float: left;
}

/* Style for the buttons */
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* You can change the background color */
}



/* Style for each button in the navigation bar */
li {
    float: left;
}

/* Style for the buttons */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of the buttons on hover */
li a:hover {
    background-color: #555;
}
  text-decoration: none;
}

.front_button {
  background: #10202b !important;
  padding:20px 35px !important;
  border: 1px solid #4472c4 !important;
  border-radius: 10px !important;
}

.sliders {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  height:150px;
  padding:25px;
  border-radius:5px;
  background-color:#363636;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


input{
  -webkit-appearance: none;
  width: 15rem;
  background:transparent;
}

/* Track Styles  */
/* chrome, safari, edge, firefox */
input::-webkit-slider-runnable-track{
  height:5px;
  border-radius:20px;
}

input::-moz-range-track{
  height:5px;
  border-radius:20px;
}

input::-webkit-slider-runnable-track {
  background:#092c42;
}

input::-moz-range-thumb:hover{
  cursor:grab;
}
input::-webkit-slider-thumb:hover{
  cursor:grab;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height:16px;
  width:16px;
  border-radius:50%;
  border:none;
  background-color:#01426a;
  box-shadow:inset .5px .5px 1px #57575780; 
  transform:translateY(-5px);
}













